@use "@blueprintjs/core/lib/scss/variables" as bp;

// Disable drag text highlighting
* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

// Generic classes
$frc-design-green: #4cae4f;

.frc-design-green {
    color: $frc-design-green;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.split {
    display: flex;
    justify-content: space-between;
}

// App specific classes
#root {
    position: absolute;
    height: 100%;
    width: 100%;
}

.app-background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-navbar {
    display: flex;
    flex-direction: column;
    height: unset;

    .frc-design-icon {
        background-color: $frc-design-green;
        height: 28px;
        width: 28px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 10%;
    }

    .vendor-filter-tags {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
}

.app-content {
    overflow-y: auto;
    flex-grow: 1;
}

.app-light-background {
    background-color: bp.$pt-app-background-color;
}

.app-dark-background {
    background-color: bp.$pt-dark-app-background-color;
}

// Insert dialog

// Make checkbox green when hovered/checked
// .checkbox {
//     input:checked ~ .bp6-control-indicator {
//         background-color: bp.$green3;
//     }
// }
// .checkbox:hover {
//     input:checked ~ .bp6-control-indicator {
//         background-color: bp.$green2 !important;
//     }
// }

.insert-menu {
    max-height: 90vh;
    width: 90%;
    max-width: 500px;
}

// Makes insert dialog inputs full width
.full-width {
    display: flex;

    .bp6-form-content {
        flex: 1;
    }
}

.enum-menu {
    max-height: 250px;
    overflow: auto;
}

.preview-image-card {
    margin: 10px;
    margin-bottom: 0px;
    background-color: bp.$light-gray4;
    position: relative;
}

.settings-menu {
    max-width: 80%;
}

// Home/document lists
.item-card {
    display: flex;
    justify-content: space-between;

    .item-card-right-content {
        // Shimmy more button and heart over
        margin-right: -6px;
        flex-shrink: 0;
    }
}

.inline-app-loading-state {
    padding-top: 50px;
    padding-bottom: 50px;
}

.inline-app-error-state {
    padding-top: 25px;
    padding-bottom: 50px;
}

// .home-card-title {
//     display: flex;
//     align-items: center;
//     gap: 10px;
// }
