// @use "sass:meta";
// @include meta.load-css("@blueprintjs/core/lib/scss/variables");
// @include meta.load-css("tailwindcss");

@use "@blueprintjs/core/lib/scss/variables" as bp;
@use "tailwindcss" as tailwind;

// Disable drag text highlighting
* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

$frc-design-green: #4cae4f;

.frc-design-green {
    color: $frc-design-green;
}

.frc-design-icon {
    background-color: $frc-design-green;
    height: 28px;
    width: 28px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10%;
}

.app-background {
    height: 100vh;
    width: 100vw;
    background-color: bp.$pt-app-background-color;
}

.app-content {
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: unset;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Make checkbox green when hovered/checked
// .checkbox {
//     input:checked ~ .bp6-control-indicator {
//         background-color: bp.$green3;
//     }
// }
// .checkbox:hover {
//     input:checked ~ .bp6-control-indicator {
//         background-color: bp.$green2 !important;
//     }
// }

// Makes insert dialog inputs full width
.full-width {
    display: flex;

    .bp6-form-content {
        flex: 1;
    }
}

.enum-menu {
    max-height: 250px;
    overflow: scroll;
}

.preview-image-card {
    margin: 10px;
    margin-bottom: 0px;
    background-color: bp.$light-gray4;
}

// .document-section {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 10px;

//     .bp6-section-header {
//         padding-left: 10px;
//     }
// }

.no-items-error {
    padding-top: 25px;
    padding-bottom: 40px;
}

.item-card {
    display: flex;
    justify-content: space-between;
    margin-left: -3px;
}

.empty-heart {
    color: none;
    background-color: none;
    outline-color: bp.$red2;
}

.home-error-state {
    padding-top: 10px;
    padding-bottom: 25px;
}

.home-card {
    display: flex;
    justify-content: space-between;

    .home-card-title {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
