// @import "@blueprintjs/core/lib/scss/variables";

// Disable drag text highlighting
* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enum-menu {
    max-height: 250px;
    overflow: scroll;
}

.document-title {
    margin-left: 30px;
}
